#注释掉128行可以临时解决递归依赖问题，但会失去 fullcone NAT 功能 主要用于提升路由器做 NAT 转发时的兼容性和性能，适用于部分需要 Fullcone NAT（全锥型 NAT）的场景
# Kernel modules
#
#
# Block Devices
#

# end of Block Devices
#
# Cryptographic API modules
#

# end of Cryptographic API modules
#
# Filesystems
#

# end of Filesystems
#
# Input modules
#

# end of Input modules
#
# Libraries
#

# end of Libraries
#
# Native Language Support
#

# end of Native Language Support
#
# Netfilter Extensions
#

# end of Netfilter Extensions
#
# Network Devices
#

# end of Network Devices
#
# Network Support
#

# end of Network Support
#
# Other modules
#

# end of Other modules
#
# USB Support
#

# end of USB Support
#
# Wireless Drivers
#


# end of Wireless Drivers
# end of Kernel modules
