# 1. MosDNS，增强 DNS 解析，提高稳定性和速度
#EXT_PACKAGES_NAME[1]="luci-app-mosdns"
#EXT_PACKAGES_PATH[1]="applications/luci-app-mosdns"
#EXT_PACKAGES_REPOSITORIE[1]="https://github.com/sbwml/luci-app-mosdns"
#EXT_PACKAGES_BRANCH[1]="v5"

# 2. MosDNS，增强 DNS 解析，提高稳定性和速度
EXT_PACKAGES_NAME[1]="luci-app-mosdns"
EXT_PACKAGES_PATH[1]="applications/luci-app-mosdns"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/QiuSimons/openwrt-mos/luci-app-mosdns"
EXT_PACKAGES_BRANCH[1]="master"

EXT_PACKAGES_NAME[2]="mosdns"
EXT_PACKAGES_PATH[2]="net/mosdns"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/QiuSimons/openwrt-mos/mosdns"
EXT_PACKAGES_BRANCH[2]="master"
