#
# Target Images
#
#
# Root filesystem archives
#
define Image/Build/squashfs
	$(call prepare_generic_squashfs,$(KDIR)/root.squashfs)
endef
#
# Root filesystem images
#
#CONFIG_GRUB_TIMEOUT="0"
#CONFIG_ISO_IMAGES=y
#CONFIG_VMDK_IMAGES=y
#
# Image Options
#
CONFIG_TARGET_ROOTFS_PARTSIZE=1024
# end of Target Images
