#
# Target Images
#
define Device/ax3600
  DEVICE_VENDOR := Xiaomi
  DEVICE_MODEL := AX3600
  DEVICE_PACKAGES := kmod-ath11k ath11k-firmware
  KERNEL := kernel-bin
  FILESYSTEMS := squashfs
endef
TARGET_DEVICES += ax3600
#
# Root filesystem archives
#
define Image/Build/squashfs
	$(call prepare_generic_squashfs,$(KDIR)/root.squashfs)
endef
#
# Root filesystem images
#
CONFIG_TARGET_DEVICE_ax3600=y
CONFIG_TARGET_ROOTFS_PARTSIZE=512
CONFIG_TARGET_ROOTFS_NAND=y
CONFIG_TARGET_UBI_BLOCK=y