#
# Network
#
#
# BitTorrent
#
CONFIG_PACKAGE_qbittorrent-enhanced-edition=y
# end of BitTorrent
#
# File Transfer
#
#CONFIG_PACKAGE_curl=y
#CONFIG_PACKAGE_vsftpd-tls=y
#CONFIG_PACKAGE_wget-ssl=y
# end of File Transfer
#
# Firewall
#

# end of Firewall
#
# IP Addresses and Names
#

# end of IP Addresses and Names
#
# Printing
#
#CONFIG_PACKAGE_p910nd=y
# end of Printing
#
# Routing and Redirection
#

# end of Routing and Redirection
#
# SSH
#

# end of SSH
#
# VPN
#
#CONFIG_PACKAGE_zerotier=y
# end of VPN
#
# WWAN
#

# end of WWAN
#
# Web Servers/Proxies
#

# end of Web Servers/Proxies
#
# WirelessAPD
#

#
# Configuration
#

# end of Configuration

# end of Network
